/* IonCard */
ion-card {
  border-radius: 20px 20px 20px 20px;
}

/* New Color */
/** violet **/
.ion-color-violet {
  --ion-color-base: var(--ion-color-violet);
  --ion-color-base-rgb: var(--ion-color-violet-rgb);
  --ion-color-contrast: var(--ion-color-violet-contrast);
  --ion-color-contrast-rgb: var(--ion-color-violet-contrast-rgb);
  --ion-color-shade: var(--ion-color-violet-shade);
  --ion-color-tint: var(--ion-color-violet-tint);
}

/** orange **/
.ion-color-orange {
  --ion-color-base: var(--ion-color-orange);
  --ion-color-base-rgb: var(--ion-color-orange-rgb);
  --ion-color-contrast: var(--ion-color-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-orange-shade);
  --ion-color-tint: var(--ion-color-orange-tint);
}

/** pink **/
.ion-color-pink {
  --ion-color-base: var(--ion-color-pink);
  --ion-color-base-rgb: var(--ion-color-pink-rgb);
  --ion-color-contrast: var(--ion-color-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-pink-shade);
  --ion-color-tint: var(--ion-color-pink-tint);
}

/** success outline **/
.ion-color-successoutline {
  --ion-color-base: var(--ion-color-successoutline);
  --ion-color-base-rgb: var(--ion-color-successoutline-rgb);
  --ion-color-contrast: var(--ion-color-successoutline-contrast);
  --ion-color-contrast-rgb: var(--ion-color-successoutline-contrast-rgb);
  --ion-color-shade: var(--ion-color-successoutline-shade);
  --ion-color-tint: var(--ion-color-successoutline-tint);
}

/** danger outline **/
.ion-color-dangeroutline {
  --ion-color-base: var(--ion-color-dangeroutline);
  --ion-color-base-rgb: var(--ion-color-dangeroutline-rgb);
  --ion-color-contrast: var(--ion-color-dangeroutline-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dangeroutline-contrast-rgb);
  --ion-color-shade: var(--ion-color-dangeroutline-shade);
  --ion-color-tint: var(--ion-color-dangeroutline-tint);
}

/** gold **/
.ion-color-gold {
  --ion-color-base: var(--ion-color-gold);
  --ion-color-base-rgb: var(--ion-color-gold-rgb);
  --ion-color-contrast: var(--ion-color-gold-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb);
  --ion-color-shade: var(--ion-color-gold-shade);
  --ion-color-tint: var(--ion-color-gold-tint);
}

/** bronze **/
.ion-color-bronze {
  --ion-color-base: var(--ion-color-bronze);
  --ion-color-base-rgb: var(--ion-color-bronze-rgb);
  --ion-color-contrast: var(--ion-color-bronze-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bronze-contrast-rgb);
  --ion-color-shade: var(--ion-color-bronze-shade);
  --ion-color-tint: var(--ion-color-bronze-tint);
}
