@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500&display=swap");

ion-card-title {
  font-size: 3em;
  font-family: "Exo", sans-serif;
  font-weight: bold;
}
ion-card-subtitle {
  font-size: 2em;
  font-family: "Exo", sans-serif;
  font-weight: lighter;
}

.img-content {
  display: flex;
  justify-content: center;
}
img {
  width: 70%;
}